
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;900&display=swap');
.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

.content {
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    text-align: justify;
    color: black;
    padding: 40px;
    font-family: 'Merriweather', serif;
}

h1 {
    font-weight: 900;
    text-align: center;
}

